<!DOCTYPE html>
<html>
<head>

</head>
<body>
	<form>
		<p> <%= word %> </p>
		<p> <%= guesses %> </p>
		<p><input type="text" name="guessed_letter" /></p>
		<p> You have <%= guesses_left %> guesses left!</p>
	</form>
</body>
</html>